.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    /* grid-template-rows: ; */
    gap: 3rem 1.4rem;
}

.product {
     width: 100%; 
     display: flex;
     flex-direction: column;
     gap: 0.6rem;
     transition: .2s ease-in-out;
     border-radius: var(--radius)
}

.product:hover {
    transform: scale(1.02);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.productCover { 
    background-color: var(--gray);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18rem;
    border-radius: var(--radius) var(--radius) 0 0;
}


.productImage {
    object-fit: cover;
    object-position: center;
    max-width: 70%;
    max-height: 70%;
}

.productDetails {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 7.5rem;
    padding: 0.4rem 0.9rem 0.8rem 0.9rem;
}

.productName {
    color: var(--black);
}

.productPrice {
    color: var(--green-light);
}

.noResult {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    text-align: center;
    gap: 1rem;
}

.noResultImg {
    width: 20rem;
    height: 20rem;
}

.noResultTitle {
   color: var(--black);
}