.container {
    display: flex;
    gap: 1rem;
}

.productsContainer {
    flex-basis: 75%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product {
    display: flex;
    gap: 2rem;
    background: var(--gray);
    border-radius: var(--radius);
    padding: 2rem;
}

.productCover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10rem;
    width: 10rem;
    flex-basis: 20%;
}

.productImage { 
     max-width: 100%;
     max-height: 100%;
}

.productLeftColumnCotainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    flex-basis: 80%;
}

.productDetails {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 0.6rem;
}

.productLeftColumnBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productPrice { color: var(--green-light); }

.btns {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    font-size: 1.2rem;
    background-color: var(--white);
    border-radius: var(--radius);
    padding:0.4rem 0.8rem;

}

.productCountText { color: var(--green); }

.productCountBtn {
     color: var(--green);
     border-radius: 0.4rem;
     border: none;
     width: 2rem;
     height: 2rem;
     font-size: 1rem;
     display: flex;
     align-items: center;
     justify-content: center;
     cursor: pointer;
     border-radius: var(--radius);
     background-color: transparent;
}

.paymentContainer {
    background: var(--gray);
    border-radius: var(--radius);
    max-height: 14rem;
    flex-basis: 25%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.paymentText {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.paymentValue {
    font-weight: bold;
    font-size: 1.1rem;
}

.payBtn {
    background: var(--green);
    color: var(--white);
    border: none;
    border-radius: var(--radius);
    padding: 0.6rem;
    font-size: 1rem;
    cursor: pointer;
    
}

/* empty cart component start */
.emptyCart {
    margin: 3rem auto;
    text-align: center;
}
.emptyCartInside {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.4rem;
}
.goToHomeButton { 
    color: var(--white);
    background: var(--green);
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: var(--radius);
    padding: 0.6rem 1.4rem;
    cursor: pointer;
    transition: .2s ease;
}

.goToHomeButton:hover {
    outline: 2px solid var(--green);
    background: transparent;
    color: var(--green);
}
.emptyCartImage {
    width: 160%;
}
/* empty cart  component end */


/* Media */
@media(max-width: 768px){
    .container {
        flex-direction: column;
    }
}
@media(max-width: 480px){
    .product {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .productLeftColumnBottom {
        margin-top: 1.4rem;
        flex-direction: column;
        gap: 0.8rem;
    }
    .productName { text-align: center; }
}

